[Unit]
Description=A rapiddisk network management daemon
After=network.target

[Service]
ExecStartPre=sh -c 'lsmod | grep -q rapiddisk || { modprobe rapiddisk ; modprobe rapiddisk-cache ; }'
ExecStart=/sbin/rapiddiskd
Type=forking
Restart=always
RestartPreventExitStatus=255
StandardError=journal
StandardOutput=journal
StandardInput=null

[Install]
WantedBy=default.target
