[Unit]
Description=A rapiddisk network management daemon
After=network.target

[Service]
ExecStartPre=/usr/bin/sh -c 'lsmod | grep -q rapiddisk || { modprobe rapiddisk ; modprobe rapiddisk-cache ; }'
ExecStart=/sbin/rapiddiskd
Type=forking
Restart=always
RestartPreventExitStatus=255
RestartSec=10
PIDFile=/run/rapiddiskd.pid
StandardError=journal
StandardOutput=journal
StandardInput=null

[Install]
WantedBy=default.target
