Source: rapiddisk
Section: base
Priority: optional
Maintainer: Petros Koutoupis <petros@petroskoutoupis.com>
Build-Depends: dkms, libjansson4, libmicrohttpd12, libjansson-dev, libmicrohttpd-dev
Standards-Version: 8.1.0-1
Maintainer: Petros Koutoupis <petros@petroskoutoupis.com>
Homepage: https://github.com/pkoutoupis/rapiddisk/
Vcs-Git: https://github.com/pkoutoupis/rapiddisk/

Package: rapiddisk
Architecture: amd64
Depends: dkms, libjansson4, libmicrohttpd12, libjansson-dev, libmicrohttpd-dev
Description: RapidDisk
 The RapidDisk software defined advanced RAM drive and storage
 caching solution. This suite includes a collection of modules,
 configuration files, and command line utilities for managing
 RapidDisk enabled storage volumes and accessing them either
 locally or across an NVMe Target network.

