Package: rapiddisk
Version: 5.0-1
Section: base
Priority: optional
Architecture: amd64
Depends: dkms, gcc, zlib1g, cryptsetup-luks, libjansson4
Maintainer: Petros Koutoupis <petros@petroskoutoupis.com>
Description: RapidDisk
 The RapidDisk software defined advanced RAM drive and storage
 caching solution. This suite includes a collection of modules,
 configuration files, and command line utilities for managing
 RapidDisk enabled storage volumes.

